body {
font-size: 100%;
}

.mvRight {
    padding-left: 5%;
}

.underline {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.codeContainer{
    border: 1px solid darkslateblue;
    border-radius: 5px;
    margin-left: 5%;
    padding: 1% 5%;
    background: dimgray;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}