{% extends "base.html" %}
{% block content %}
<!--Index Page-->
    <!-- Carousel -->
    <div class="row border border-primary">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <a href="/git">
                        <img src="{{ url_for('static', filename='images/git.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item active">
                    <a href="/docker">
                        <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/flask">
                        <img src="{{ url_for('static', filename='images/flask.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel -->
    <!-- Card -->
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Git</h5>
                    <p class="card-text">Introduction Git</p>
                    <a href="/git" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Docker</h5>
                    <p class="card-text">Introduction Docker</p>
                    <a href="/docker" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Flask</h5>
                    <p class="card-text">Introduction Flask</p>
                    <a href="/flask" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">CI/CD</h5>
                    <p class="card-text">Introduction CI/CD</p>
                    <a href="/CICD" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
{% endblock %}