{% extends "base.html" %}
{% block content %}
    <!--Index Page-->
    <!-- Carousel -->
    <div class="row border border-primary">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <a href="/git">
                        <img src="{{ url_for('static', filename='images/git.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item active">
                    <a href="/docker">
                        <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100"
                             alt="...">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/flask">
                        <img src="{{ url_for('static', filename='images/flask.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/CICD">
                        <img src="{{ url_for('static', filename='images/CICD.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel -->
    <!-- Card -->
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Git</h5>
                    <p class="card-text">Introduction Git</p>
                    <a href="/git" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Docker</h5>
                    <p class="card-text">Introduction Docker</p>
                    <a href="/docker" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Flask</h5>
                    <p class="card-text">Introduction Flask</p>
                    <a href="/flask" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">CI/CD</h5>
                    <p class="card-text">Introduction CI/CD</p>
                    <a href="/CICD" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <h2>About me</h2>
    <p>
        I'm Benchuan Xu, one of the master student from NJIT majored in Computer Science. I have some experience on
        Java, Python, JavaScript, HTML, CSS, C# and C++.
    </p>
    <p>
        For the framework I know about Spring framework which is a powerful framework for Java backend. I used to use
        this framework to develop my own website which is to share some of my personal hobby. And also I have some
        experience with front end framework like Vue. I was worked in a China's tech company in where I came to know
        about the Vue and did a data visualize front end project by using Three.js.
    </p>
    <p>
        This website is to share some of my knowledge to help a program beginner to familiar with what the program it
        is. Hope all of my article is helpful to you.
    </p>

{% endblock %}